
<br>
<br>
<br>
<h1>
Profile Seller
</h1>
<br>
<br>
<br>
<a href="/logout">
<button>Logout</button></a>
<br>
<br>


    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Product</a></li>

    </ul>


<h1>Welcome {{firstName}}</h1>
<img src="{{user.profilePic}}" alt="" width="200px" height="200px">

<a href="/update">Update Profile</a>
