<a href="/" class="product">
  <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
  <h3>Product</h3>
  <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
</a>