<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{!-- Navbar --}}
  <nav class="container">
    {{!-- Left --}}
    <div>
      <a href="/">local</a>
    </div>
    {{!-- Right --}}
    <div>
      <a href="/perfil">
        <img src="/images/icons/user.svg" alt="perfil" />
      </a>
      <a href="/carrito">
        <img src="/images/icons/shopping-cart.svg" alt="carrito" />
      </a>
    </div>
  </nav>

  {{!-- Main --}}
  <main>
    {{{body}}}
  </main>

  {{!-- Footer --}}
  <footer class="container">
    <nav>
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/productos">Productos</a>
        </li>
        <li>
          <a href="mailto:soporte@local.mx">Ayuda</a>
        </li>
        {{#unless currentUser}}
        <li class="sign-in">
          <a href="/vendedor/registro">Vende con nosotros</a>
        </li>
        {{/unless}}
      </ul>
    </nav>
    <div>
      <small>Made with <img src="/images/icons/heart.svg" alt="amor" /> and lots of <img src="/images/icons/coffee.svg"
          alt="café" /></small>
    </div>
  </footer>

  {{!-- Whatsapp Chat --}}
  <a href="/" class="chat">
    <img src="/images/icons/whatsapp.svg" alt="whatsapp" />
  </a>

  {{!-- Scripts --}}
  <script src="/javascripts/script.js"></script>
</body>

</html>