/*****************************/
/******* CSS VARIABLES *******/
/*****************************/
:root {
  --font: 'Lato', sans-serif;
  --darkText: #444647;
  --lightText: #5a5e61;
}

/*****************************/
/*********** RESET ***********/
/*****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font);
  color: var(--lightText);
}
