/*****************************/
/********** NAVBAR ***********/
/*****************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid #eee;
  div {
    &:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: 0.25px;
        color: var(--darkText);
      }
    }
    &:last-child {
      a {
        &:first-child {
          margin-right: 0.75rem;
        }
      }
    }
  }
  // Transparent navbar styles
  &.nav-transparent-white {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    div {
      button {
        span {
          background-color: #fff;
        }
      }
      a {
        color: #fff;
      }
    }
    div {
      img {
        filter: invert(1);
      }
    }
  }
  // Scrolled nav
  &.nav-scroll {
    background-color: #fff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
    z-index: 2;
  }
}

/*****************************/
/********** FOOTER ***********/
/*****************************/
footer {
  border-top: 1px solid #eee;
  text-align: center;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  nav {
    position: initial;
    border: none;
    ul {
      width: 80%;
      margin: auto;
      line-height: 2;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 0.5rem;
        opacity: 0.75;
        &:first-child {
          margin-left: 0;
        }
        &.sign-in {
          margin-right: 0;
          opacity: 1;
        }
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
  div {
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid #eee;
    small {
      img {
        height: 0.725rem;
        padding: 0 0.25rem;
        opacity: 0.5;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

/*****************************/
/******* WHATSAPP CHAT *******/
/*****************************/
.chat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--darkText);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    filter: invert(1);
    width: 45%;
  }
}

@media (min-width: 992px) {
  footer {
    flex-wrap: nowrap;
    text-align: initial;
    nav {
      ul {
        width: 100%;
      }
    }
    div {
      border: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }
  }
  .chat {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 52.5px;
    height: 52.5px;
  }
}
