.product {
  margin-bottom: 1rem;
  > img {
    height: calc(100vw / 2 - 2.25rem);
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    display: block;
    border-radius: 0.25rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
  p {
    margin-bottom: 0.75rem;
  }
  .flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .product {
    & > img {
      height: calc(100vw / 4 - 5rem);
      max-height: 210px;
    }
    h3 {
      font-size: 1.25rem;
    }
    p {
      font-size: 1.125rem;
    }
  }
}

.scroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  a {
    display: inline-block;
    min-width: 180px;
    width: calc(20% - 1.75rem);
    margin-right: 1rem;
    &:first-child {
      margin-left: 1.5rem;
    }
    &:last-child {
      margin-right: 1.5rem;
    }
  }
}
