<div class="all">
  <div class="container wrapped heading">
    <h1>Todos los productos</h1>
    <p>Siempre frescos para ti</p>
  </div>
  <section>
    <div class="container wrapped heading">
      <h2>Categoría</h2>
      <a href="/productos/verduras">Ver más en esta categoría</a>
    </div>
    <div class="scroll wrapped">
      <!-- TODO: To be dynamically replaced with data from Mongo -->
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      {{!-- ENDS --}}
    </div>
  </section>
</div>