<div class="all category">
  <div class="container wrapped heading">
    <h1>Categoría</h1>
  </div>
  <section class="container wrapped">
    <div class="grid g-2">
      <!-- TODO: To be dynamically replaced with data from Mongo -->
      <a href="/producto/guayaba" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      {{!-- ENDS --}}
    </div>
  </section>
</div>