<div class="all category">
  <div class="container wrapped heading">
    <h1>{{config.category}}</h1>
  </div>
  <section class="container wrapped">
    <div class="grid g-2">
      {{#each productsInCategory as |product|}}
      {{> productCard product}}
      {{else}}
      <p>Aún no hay ningún producto en esta categoría</p>
      {{/each}}
    </div>
  </section>
</div>