<div class="single">
  <div class="grid g-1 wrapped">
    <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="..." />
    {{!-- Sticky --}}
    <div class="sticky">
      <div class="heading container">
        <a href="/productos">
          <h2>Categoría</h2>
        </a>
        <h1>Nombre del producto</h1>
        <p>$500 el kilo</p>
      </div>
      <div class="description container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae vitae maiores dolores delectus, voluptatem
          libero sed praesentium explicabo, nam ullam esse recusandae, molestiae illum atque aperiam sunt tempora nobis
          adipisci!</p>
      </div>
      <form action="" method="POST" class="container">
        <div>
          <label for="qty">Cantidad:</label>
          <input type="number" name="qty" id="qty" class="form-control" />
        </div>
        <button type="submit" class="btn btn-color">Añadir al carrito</button>
      </form>
    </div>
  </div>

  {{!-- Seller Bio --}}
  <div class="container wrapped bio">
    <hr>
    <div class="wrapped">
      <img src="https://source.unsplash.com/XHVpWcr5grQ/800x800" alt="seller" />
      <h2>Te presentamos a {Productor}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, minima atque esse recusandae error sequi? Ad
        optio illum culpa modi?</p>
    </div>
    <hr>
  </div>

  {{!-- Upsells --}}
  <div class="upsells">
    <h2 class="container wrapped">También te podrían interesar</h2>
    <div class="scroll wrapped">
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
      <a href="/" class="product">
        <img src="https://source.unsplash.com/leOh1CzRZVQ/800x800" alt="...">
        <h3>Product</h3>
        <p><span class="price">$500</span> <span class="unit">por kilo</span></p>
      </a>
    </div>
  </div>
</div>